<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Twice Baked</title>
</head>
<body>
	<h2>This is a Twice Baked Potato:</h2>
	<p>
		<img
			src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/6/13/0/YW0301H_twice-baked-potatoes-recipe_s4x3.jpg.rend.hgtvcom.616.462.suffix/1406091903572.jpeg">
	</p>
	<p>These are {{ adjective }}.</p>
	<p>You should cook these at {{ degrees }}&deg;</p>
	<h3>Want to Fill Out a Survey?</h3>
	<form action="survey">
		<p>What Kind of Potato Do you Like?</p>
		<select name="answer">
			<option>Russet</option>
			<option>Golden</option>
			<option>Sweet</option>
			<option>None</option>
		</select>
		<button>Submit your Answer</button>
	</form>
	<br>
	<form action="reset">
		<button name="reset">Reset Results</button>
	</form>
	<p>
		<a href="/">Go Back</a>
	</p>
</body>
</html>